* {
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --br: 4px solid black;
    --bx-shdw: -8px 8px 0px black;
    --bx-shdw-re: -2px 2px 0px black;
    --crd-hgt: 280px;
}

body {
    background-color: #e7e2d7;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar li {
    list-style: none;
    border: var(--br);
    margin: 12px;
}

.navbar li a {
    font-size: 20px;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    background: #4286f5;
    color: white;
    width: 176px;
    text-align: center;
    transition: .6s;
    box-shadow: var(--bx-shdw);
}

.navbar li a:hover {
    box-shadow: var(--bx-shdw-re);
    transform: scale(1.04);
}


.container {
    display: flex;
    justify-content: center;
    margin: 42px 12px;
    flex-wrap: wrap;
}

#home {
    border: var(--br);
    width: 684px;
    height: var(--crd-hgt);
    margin: 20px 20px;
    background-color: rgb(251, 240, 219);
}

.profile {
    margin: 12px 20px;
    font-size: 20px;
}

#about {
    border: var(--br);
    width: 684px;
    height: var(--crd-hgt);
    margin: 20px 20px;
    background-color: rgb(214, 170, 255);
}


#skill {
    border: var(--br);
    width: 684px;
    height: var(--crd-hgt);
    margin: 20px 20px;
    background-color: rgb(174, 255, 170);
}

#contact {
    border: var(--br);
    width: 684px;
    height: var(--crd-hgt);
    margin: 20px 20px;
    background-color: rgb(236, 181, 181);
}

.bx-zm-out {
    box-shadow: var(--bx-shdw);
    transition: .3s;
}

.bx-zm-out:hover {
    box-shadow: var(--bx-shdw-re);
    transform: scale(1.04);
}

#btn1 {
    border: 1px solid black;
    display: none;
    padding: 12px;
    margin: 12px;
    font-weight: bold;
    cursor: pointer;
}

#btn2 {
    border: 1px solid black;
    padding: 2px;
    display: none;
    padding: 12px;
    margin: 12px;
    font-weight: bold;
    cursor: pointer;
}

#btn3 {
    border: 1px solid black;
    padding: 2px;
    display: none;
    padding: 12px;
    margin: 12px;
    font-weight: bold;
    cursor: pointer;
}

#btn4 {
    border: 1px solid black;
    padding: 2px;
    display: none;
    padding: 12px;
    margin: 12px;
    font-weight: bold;
    cursor: pointer;
}

.endPage {
    display: flex;
    justify-content: center;
}

.endPageSpan {
    font-family: "Ubuntu";
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .navbar {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .navbar li a {
        width: auto;
        font-size: 16px;
        font-weight: 900;
    }

    .profile {
        margin: 12px 20px;
        font-size: 18px;
    }

    .container {
        flex-wrap: wrap;
    }

    #home {
        margin: 20px 0px;
    }

    #about {
        margin: 20px 0px;
    }

    #skill {
        margin: 20px 0px;
    }

    #contact {
        margin: 20px 0px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .navbar {
        margin: 0;
        padding: 0;
    }

    .navbar li a {
        width: 60px;
        font-size: 16px;
        font-weight: 900;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .navbar {
        margin: 0;
        padding: 0;
    }

    .navbar li a {
        width: 60px;
        font-size: 16px;
        font-weight: 900;
    }
}
