* {
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --br: 4px solid white;
    --bx-shdw: -8px 8px 0px white;
    --bx-shdw-b: -8px 8px 0px black;
    --bx-shdw-re: -2px 2px 0px white;
    --crd-w: 684px;
    --crd-h: 280px;
    --crd-w-m: 258px;
    --crd-h-m: 280px;
    --crd-bg: rgb(48, 34, 54);
}

body {
    background-color: #110b17;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
}

.navbar li {
    list-style: none;
    border: var(--br);
    margin: 12px;
}

.navbar li a {
    font-size: 20px;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    background: #110b17;
    color: white;
    width: 176px;
    text-align: center;
    transition: .6s;
    box-shadow: var(--bx-shdw);
    cursor: pointer;
}

.navbar li a:hover {
    box-shadow: var(--bx-shdw-re);
    transform: scale(1.04);
}

/* loading animation */
#loading {
    background-color: #362449;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    color: white;
}

#ld-title {
    display: none;
    text-align: center;
    color: white;
    font-size: 60px;
}

#ld-bg {
    display: none;
    background-color: #362449;
    text-align: center;
    color: white;
    font-size: 40px;
    height: 50vh;
}


.timeDiv {
    text-align: center;
    margin: 20px;
}

#display_time {
    color: white;
    font-size: 40px;
}


.container {
    display: none;
    justify-content: center;
    margin: 12px 12px;
    flex-wrap: wrap;
}

.card {
    border: var(--br);
    width: var(--crd-w);
    height: var(--crd-h);
    margin: 20px 20px;
    background-color: var(--crd-bg);
    color: white;
}

.card_details {
    margin: 12px 20px;
    font-size: 20px;
}

.links {
    color: white;
    text-decoration: none;
}

.clsBtn {
    display: flex;
    text-align: center;
    width: 150px;
    height: 50px;
    border: var(--br);
    justify-content: center;
    align-items: center;
    box-shadow: var(--bx-shdw);
    transition: .2s;
    margin: auto;
    display: none;
    cursor: pointer;
}

.clsBtn b {
    color: white;
    font-size: 25px;
}

.disNone {
    display: none;
}

.clsBtn:hover {
    box-shadow: var(--bx-shdw-re);
    transform: scale(1.06);
}

.bx-zm-out {
    box-shadow: var(--bx-shdw);
    transition: .3s;
}

.bx-zm-out:hover {
    box-shadow: var(--bx-shdw-re);
    transform: scale(1.04);
}

.blink {
    color: rgb(48, 34, 54);
    animation: 0.2s blinking linear infinite;
}



@keyframes blinking {
    from {
        color: white;
    }

    to {
        color: rgb(48, 34, 54);
    }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .navbar {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .navbar li a {
        width: 108px;
        font-size: 16px;
        font-weight: 900;
    }

    .card_details {
        margin: 12px 20px;
        font-size: 18px;
    }

    .container {
        flex-wrap: wrap;
    }

    .card {
        margin: 20px 0px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .navbar {
        margin: 0;
        padding: 0;
    }

    .navbar li a {
        width: 108px;
        font-size: 16px;
        font-weight: 900;
    }
}

@media only screen and (min-width: 800px) {
    .navbar {
        margin: 0;
        padding: 0;
    }

    .navbar li a {
        width: 111px;
        font-size: 16px;
        font-weight: 900;
    }
}
